[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lukemetoo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lukemetoo
	label-Verified = -1..+1 group user/lukemetoo
	push = group user/lukemetoo
	read = group user/lukemetoo
	rebase = group user/lukemetoo
	removeReviewer = group user/lukemetoo
	submit = group user/lukemetoo
[access "refs/heads/*"]
	create = group user/lukemetoo
	push = +force group user/lukemetoo
	pushMerge = group user/lukemetoo
	read = group user/lukemetoo
[access "refs/tags/*"]
	push = group user/lukemetoo
	push = +force group user/lukemetoo
